*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body{
      background-color: rgb(0, 0, 0);
      font-family: sans-serif;
      color:white ;
      user-select: none;
}
.Sidebar{
      height: 100%;
      width: 350px;
      background-color: #000000;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 10px;
}
.SidebarNav{
      background-color: rgb(17, 17, 17);
      width: 330px;
      border-radius: 10px;
      padding: 30px 10px ;
      margin-bottom: 10px;
}
.SidebarNav .logo img{
      width: 35%;
}
.SidebarNav ul{
      list-style: none;
      
}
.SidebarNav ul li{
      padding: 10px 20px;
      /* font-size: 15px; */
      font-weight: bold;
}
.SidebarNav ul li a{
      text-decoration: none;
      color: #b3b3b3;
}
.textimg:hover{
      text-decoration: underline;
      color: ghostwhite;
}
#homeimg{
      position: relative;
      top: 5px;
      margin-right: 10px;
}
#searchimg{
      position: relative;
      top: 7px;
      margin-right: 10px;

}
.createplaylist{
      background-color: rgb(32, 31, 31);
      margin-bottom: 10px;
      padding: 30px 15px;
      border-radius: 10px;
}
.Scrollbar{
      font-weight: normal;
      height: 140px;
      overflow-y: auto;

}
.Scrollbar::-webkit-scrollbar{
      background: transparent;
}
.Scrollbar::-webkit-scrollbar-thumb{
      background: transparent;
      width: 10px;
}
.Scrollbar:hover::-webkit-scrollbar-thumb{
      background: grey;
      width: 3px;
}
.createplaylist h4{
      font-size: 15px;
}
.createplaylist p{
      font-size: 14px;
      margin: 12px 0;
}
.createplaylist button{
      background-color: white;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      padding: 8px 18px;
      border: none;
      border-radius: 30px;
      font-weight: 600;
      margin-bottom: 10px;
}
.createplaylist button:hover{
      cursor: pointer;
      padding: 9px 19px;

}
.privacy ul li{
      list-style: none;

      font-weight: normal;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
      line-height: 15px;
}
.privacy ul li a:hover{
      text-decoration: underline;
      color: rgb(199, 194, 194);
}

.privacy ul li a{
      text-decoration: none;
      color: rgb(124, 119, 119);
      font-size: 13px;
      margin: 0 5px;
}
.engbtn{
      padding: 20px 30px;

}
.engbtn button{
      padding: 10px 30px;
      background: transparent;
      border: 1px solid rgb(100, 94, 94);
      border-radius: 20px;
      color: white;
      transition: 0.1s;
}
.engbtn button:hover{
      cursor: pointer;
      padding: 11px 31px;
      border: 1px solid white;
}

/* <--Main Section Start Here--> */

.Main{
      margin-left: 300px;
      border-radius: 15px;
      height: 100vh;
      background-color: rgb(10, 10, 10);

}
.Main .TopNav{
      margin-top: 10px;
      padding: 20px 35px;
      background-color: rgb(16, 16, 16);
      display: flex;
      align-items: center;
      justify-content: space-between;
      
}
.Main .TopNav .erobtn{
      margin-left: 35px;
}
.Main .TopNav  button{
      background: transparent;
      border: 0;
      outline: 0;
}
.TopNav .Loginbtn .sinup{
      color: #b3b3b3;
      font-size: 15px;
      font-weight: 600;
      font-family:sans-serif;
}
.TopNav .Loginbtn .sinup:hover{
      cursor: pointer;
      font-size: 16px;
      color: white;
}
.TopNav .Loginbtn .login{
      color: #000000;
      font-size: 15px;
      font-weight: 600;
      margin-left: 20px;
      background-color: white;
      padding: 10px 20px;
      border-radius: 30px;
}

.TopNav .Loginbtn .login:hover{
      cursor: pointer;
      transform: scale(1.05);
      background-color: rgb(223, 221, 221);
}

.Main >.MusicPlaylist{
      margin-left: 80px;
}
.Main .MusicPlaylist .Card .arjtimg{
      height: 63%;
      border-radius: 100%;
}
.Main .MusicPlaylist .Card .goodimg{
      border-radius: 100%;
}

.Popular{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-right: 10px;
      padding: 0px 15px;
      padding-right:20px;

}
.Popular h2:hover{
      cursor: pointer;
      text-decoration: underline;
}
.Popular p{
      color: rgb(120, 114, 114);
}
.Popular p:hover{
      cursor: pointer;
      text-decoration: underline;
      color: white;

}
.MusicPlaylist{
      margin-bottom: 30px;
}

.MusicPlaylist .Card{
      display: flex;
      gap: 15px;
      overflow: hidden;
}
.MusicPlaylist .Card .item{
      width: 175px;
      min-width: 140px;
      background:transparent;
      border-radius: 5px;
      padding: 15px;
      cursor: pointer;
      line-height: 20px;
}
.MusicPlaylist .Card .item:hover{
      background-color: rgb(25, 25, 25);

}

.MusicPlaylist .Card .item:hover .playbtn span{
      transform: translateY(-20px);
      opacity: 1;
      box-shadow: 0px 1px 5px black;
}

.MusicPlaylist .Card .item img{
      width: 100%;
      margin-bottom: 10px;
      border-radius: 6px;
}
.MusicPlaylist .Card .item:hover img{
      box-shadow: 0px 2px 15px black;

}


.MusicPlaylist .Card .item h4{
      font-size: 15px;

}
.MusicPlaylist .Card .item p{
      width: fit-content;
      margin-top: 5px;
      color:rgb(171, 169, 169);
      display: flex;
      align-items: center;
      

}
.MusicPlaylist .Card .item p:hover{
     text-decoration: underline;
}
.MusicPlaylist  .item .playbtn{
      position: relative;

}
.MusicPlaylist  .item .playbtn span{
      position: absolute;
      background-color: rgb(87, 174, 87);
      border-radius: 100%;
      padding: 10px;
      top: -50px;
      right: 8px;
      transition: 0.3s;
      opacity: 0;

}
.MusicPlaylist  .item .playbtn span:hover{
      background-color: rgb(62, 168, 62);
}
.Footor{
      padding: 10px 20px;
      margin-left: 80px;
}
.Footor .FootorSection{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
}
.Footor .FootorSection .FootorLinks{
      gap: 50px;
      display: flex;
      justify-content: space-between;
}
.Footor .FootorSection .FootorLinks .LinkItem{
      margin: 0px 20px;

}
.Footor .FootorSection .FootorLinks .LinkItem div{
      color:rgb(255, 255, 255);
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 17px;
}
.Footor .FootorSection .FootorLinks .LinkItem ul li{
      width: fit-content;
      list-style: none;
      padding-bottom: 10px;
      color: rgb(154, 150, 150);
      font-family:'Times New Roman', Times, serif;
}
.Footor .FootorSection .FootorLinks .LinkItem ul li:hover{
      cursor: pointer;
      text-decoration: underline;
      color: rgb(227, 221, 221);
}



.socialLinks img{
      border-radius: 30px;
      background-color: rgb(0, 0, 0);
      width: 25px;
      margin: 0px 5px;

}
.socialLinks img:hover{
      transform: scale(1.1);
      background-color: #2b2a2a;
      cursor: pointer;
}
hr{

     margin: 20px 40px;
     margin-left: 100px;
     outline: 0;
     opacity: .5;
     border:.2px solid #2b2a2a ;
     margin-top: 35px;
}
#copyright{
      margin-left: 100px;
      padding: 10px 20px ;
      color: #9c9999;
      font-size: 15px;
      
}
